{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
	<div class="main-content-container login-container">
		<form method="post">
			<label for="username">Username</label>
			<div class="inner-input-container">
				<input class="input-box" name="username" id="username" type="text" autocomplete="username">
				<span class="focused-border"></span>
			</div>

			<label for="password">Password</label>
			<div class="inner-input-container">
				<input class="input-box" name="password" id="password" type="password" autocomplete="new-password">
				<span class="focused-border"></span>
			</div>

			{% for message in get_flashed_messages() %}
				<div class="flash">{{ message }}</div>
			{% endfor %}

			<input class="submit" type="submit" value="Register">
		</form>
	</div>
{% endblock %}