/* ------------------------------------------------------------------------ */

* {
    font-family: "MesloLGS NF", "DejaVu Sans Mono", "Consolas", "Monaco", "Bitstream Vera Sans Mono", monospace;
}

:root {
    --bg-color: #282828cc;
    --fg-color: #ebdbb2;
    --fg2-color: #ebdbb288;
    --list-id-fg-color: #8b7b52;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-size: cover;
}

/* ------------------------------------------------------------------------ */

nav {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: right;
}

nav > ul {
	display: inline-block;
	margin: 0;
	padding: 0.5rem 1rem;
	text-align: right;
}

nav > ul > li {
	display: inline-block;
	margin: 0.2rem;
    padding: 0.5rem 1rem;
    color: var(--fg-color);

    background-color: var(--bg-color);

    border-radius: 0.4rem;
}

nav > ul > li > a {
    color: inherit;
}

.main-content-container {
    width: 80%;
    height: 80%;

    background: var(--bg-color);
    backdrop-filter: blur(10px);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 0;

    border-radius: 0.4rem;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container > form > * {
    font-size: 1.2em;
    height: 2em;

    margin: 1rem 0;

    color: var(--fg-color);
}

.login-container > form > label {
    margin-bottom: 0;
    padding-bottom: 0;
}
.login-container > form > input {
    margin-top: 0;
    padding-top: 0;
}

.login-container > form > .submit {
    padding: 5px 10px;
    border: 1px solid var(--fg2-color);
    border-radius: 0.4rem;

    background-color: var(--bg-color);
}

.login-container > form > .flash {
    color: #cc6666;
    font-size: 1rem;
}


.main-content {
    padding: 1rem;
    color: var(--fg-color);
}

.main-content > * {
    margin: 0;
    padding: 0;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

.input-container .prompt {
    margin-right: 0.5rem;
    margin-bottom: 3px; /* to account for .input-box border-bottom */
}

.input-container > form {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.inner-input-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-box {
    width: 100%;
    height: 3rem;

    font-size: 1em;
    color: var(--fg-color);

    background: none;
    border: none;
    outline: none;

    border-bottom: 2px solid var(--fg2-color);
    border-radius: 2px;
}

.input-box ~ .focused-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: var(--fg-color);
    border-radius: 2px;
    transition: 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.input-box:focus ~ .focused-border {
    left: 0;
    width: 100%;
    transition: 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);
}

/* .input-box:focus {
    border-color: var(--fg-color);
    transition: 0.4s;
} */

.main-content > .list-container > ol {
    display: flex;
    flex-flow: column wrap;

    height: 5rem; /* i'd like to use a % value here, but that doesn't work right. Im doing this just because it works ok for now */
}

.main-content > .list-container > ol > li {
    list-style: none;
    counter-increment: list-counter;
}

.main-content > .list-container > ol > li::marker {
    content: counter(list-counter)"\a0\a0";
    color: var(--fg2-color);
}

.main-content > .list-container > ol > li > span.id {
    margin-right: 1em;
    color: var(--list-id-fg-color);
}