/* ------------------------------------------------------------------------ */

* {
    font-family: "MesloLGS NF", "DejaVu Sans Mono", "Consolas", "Monaco", "Bitstream Vera Sans Mono", monospace;
}

:root {
    --fg-color: #ebdbb2;
    --fg2-color: #ebdbb255;
    --list-id-fg-color: #8b7b52;
}

html, body {
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------------------------ */

nav {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: right;
}

nav > ul {
	display: inline-block;
	margin: 0;
	padding: 0.5rem 1rem;
	text-align: right;
}

nav > ul > li {
	display: inline-block;
	margin: 0.2rem;
    padding: 0.5rem 1rem;
    color: var(--fg-color);

    background-color: #282828;

    border-radius: 0.4rem;
}

nav > ul > li > a {
    color: inherit;
}

.main-content-container {
    width: 80%;
    height: 80%;

    background: #282828ff;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 0;
}

.main-content {
    padding: 1rem;
    color: var(--fg-color);
}

.main-content > * {
    margin: 0;
    padding: 0;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

.input-container > .prompt {
    margin-right: 0.5rem;
    margin-bottom: 3px; /* to account for .input-box border-bottom */
}

.input-box {
    width: 100%;
    height: 3rem;

    font-size: 1em;
    color: var(--fg-color);

    background: none;
    border: none;
    outline: none;

    border-bottom: 3px solid var(--fg2-color);

    border-radius: 2px;
}

.input-box:focus {
    border-color: var(--fg-color);
}

.main-content > .list-container > ol {
    display: flex;
    flex-flow: column wrap;

    height: 5rem; /* i'd like to use a % value here, but that doesn't work right. Im doing this just because it works ok for now */
}

.main-content > .list-container > ol > li {
    list-style: none;
}

.main-content > .list-container > ol > li > span.id {
    margin-right: 1em;
    color: var(--list-id-fg-color);
}